
.fileSelect{
    height:max-content;
    cursor: pointer;
    width: 30%;
  }
  .onlyThis{
    margin-top: 20px;
    height: auto !important;
    cursor: pointer;
    // width: 300px;
  }
  
  #uploadFile {
    width: 25%;    
    z-index: 9;
    opacity: 0;
    height: 5%;
    cursor: pointer;
    position: absolute;
  }