<app-toolbar></app-toolbar>

<!-- <p>login works!</p> -->

<div class="contain">
    <div class="login">
        <div>
            <img src="https://mma.prnewswire.com/media/1228338/Accolite_Logo_Grey.jpg?p=publish" class="img-fluid" alt="Responsive image">
        </div>

        <div style="height: 10rem; display: flex; align-items: center; justify-content:center;">

            <button class="g-signin2" data-onsuccess = "onSignIn" mat-button style="padding: 1rem; border:1px black solid">

            </button>
        </div>

        <!-- <a href="#" (click)="signOut();">Sign out</a> -->
    </div>
</div>
